<%= form_for(@task) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :details %>
      <%= f.text_area :details, class: 'form-control' %>
    </div>
    <%# if it's an edit not a new, aka if the task already has an id %>
    <% if @task.id %>
      <div class="form-group">
        <%= f.label :completed %>
        <%= f.check_box :completed, class: 'form-control' %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>
